<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6cef7d2b-7951-4340-afac-2fb449153fa2" Publisher="CN=r2d2rigo" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyFirstDirect2D</DisplayName>
    <PublisherDisplayName>r2d2rigo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyFirstDirect2D.App">
      <VisualElements DisplayName="MyFirstDirect2D" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MyFirstDirect2D" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>